

 .home-h1 {
   text-align: center;
   font-weight: bold;
   margin: 0;
   padding: 20px;
   background-color: #f35c19;
 }

 .home-intro {
   padding-top: 25px;
   padding-bottom: 25px;
 }

 .home-image {
   /*height: 100%;*/
   /*outline: solid blue;*/
 }


 .home-text1 {
   margin-top: 12%;
 }

 .home-text2 {
   margin-top: 17%;
 }

 .home-text3 {
   margin-top: 14%
 }

.home-banner {
  float: none;
  /*text-align: center;*/
  /*font-weight: bold;*/
  max-width: 100%;
  height: 350px;
  /*min-height: 350px;
  max-height: 424px;*/
  background: url("../images/indyskylinethin.jpg") center top no-repeat;
}

.orange-back {
  font-weight: bold;
  margin-top: 0;
  padding: 15px;
  background-color: #f35c19;
}

#home {
  /*background-color: #F5F5F5;*/
  /*color: #fff;
  border-left: solid 5px #f35c19;
  border-right: solid 5px #f35c19;*/

}

#home .row {
  margin: 5% 0;
}


#home img {
  /*padding: 5%*/
  /*max-height: 95%;
  max-width: 95%;*/
  /*outline: solid orange;*/

}

@media (max-width: 1200px) {
  .home-text1 {
    margin-top: 0%;
  }

  .home-image1 {
    margin-top: 2%;
  }

  .home-text2 {
    margin-top: 10%;
  }

  .home-text3 {
    margin-top: 1.1em;
  }

  .home-image {
      /*outline: solid green;*/
  }
}


@media (max-width: 991px) {
  .home-text {
    margin-bottom: 0.75em;
    /*padding: 0;*/
  }


  #home img {
    /*padding: 2%;*/
  }

}

@media (max-width: 767px) {
  .home-banner {
    height: 175px;
    background: url("../images/indyskylinethin.jpg") center top / auto 100% no-repeat;
  }
}
