<!-- <div id="footer" class="text-center">
  <h4><strong>Sun Electric</strong> | 8515 Camby Rd. Camby, IN 46113 | 317-821-8130</h4> -->
<footer class="footer text-center">
  <div class="container">
    <h4><strong>Sun Electric, Inc.</strong> | 8515 Camby Rd. Camby, IN 46113 | 317-821-8130</h4>
    <h5><a href="{% url 'home' %}">Home</a> |
    <a href="{% url 'services' %}">Services</a> |
    <a href="{% url 'projects' %}">Projects</a> |
    <a href="{% url 'about' %}">About</a> |
    <a href="{% url 'contact' %}">Contact</a></h5>
  </div>
</footer>
