{% extends "core/__base.html" %}

{% block content %}

<h2>Contact Us</h2>
<p>We are dedicated to providing our customers with outstanding service and look forward to working with you!</p>

<strong>Phone:</strong> 317-821-8130 <br />
<strong>Fax:</strong> 317-821-8140 <br />
<strong>Address:</strong>8515 Camby Rd. Camby, IN 46168
<hr />
Scott Hampton <br />
Dave Walls<br />
Scott Stout
<hr />

<form role="form" action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% endblock content %}
