{% extends "core/__base.html" %}
{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <!-- <h2>Industrial and Commercial Electrical Contracting</h2> -->

      <h3>Electrical Services</h3>
      <ul>
        <li>New Construction</li>
        <li>Remodels and Renovations</li>
        <li>Electrical Repairs and Maintenance</li>
        <li>24/7 Emergency Service Calls</li>
        <li>Site Lighting</li>
        <li>Interior and Exterior Building Lighting</li>
        <li>Lighting Controls</li>
        <li>Low Voltage Cabling Installation</li>
        <li>Lighting Upgrades and Retrofits</li>
        <li>Energy Conservation Upgrades</li>
        <li>Industrial Controls and Automation</li>
        <li>Design-Build Services</li>
        <li>Equipment Hook-ups</li>
        <li>Electrical Consulting</li>
        <li>Service Upgrades</li>
        <li>Generators and Transfer Switches</li>
        <li>Fire Alarm Systems</li>
        <li>Building Automation Systems</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
