{% extends "core/__base.html" %}


{% block content %}
<div>
  <br />
  <ul>
    <li>Design-Build Services</li>
    <li>New construction and remodeling</li>
    <li>Fire alarm systems installation</li>
    <li>Site lighting installation</li>
    <li>Building maintenance</li>
    <li>Interior lighting system installation</li>
    <li>Voice/Data/Video installation</li>
    <li>Nurse Call System installation</li>
    <li>Door entry and keyless system installation</li>
    <li>Energy conservation upgrades</li>
    <li>Retrofitting existing lighting systems</li>
    <li>Service calls</li>
  </ul>
</div>

{% endblock content %}
